@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --find-more-bg: #fbfbfb;
      --text-subtitel: #727272;
      --green-primary: #46a358;
      --green-primary-darker: #3a8549;
      --soft-background: #f2efef;
      --md-palette-primary-main: #46a358 !important;
      --md-palette-primary-dark: #3a8549 !important;
   }
}

.shoppingCartIconContainer #shoppingCartIconPath {
   fill: #727272;
}

.svg-green-use-fill > svg * {
   fill: var(--green-primary) !important;
}
.svg-green-use-stroke > svg * {
   stroke: var(--green-primary) !important;
}
.svg-green-use-both > svg * {
   fill: var(--green-primary) !important;
   stroke: var(--green-primary) !important;
}
